{% extends 'base.html.twig' %}

{% block title %}Hello {{ controllerName }}!{% endblock %}

{% block body %}
    <div class="container-fluid p-3">
        <h1>Hello {{ controllerName }}!</h1>
        <p>This friendly message is coming from your controller at <code>{{ controllerLocation }}</code></p>
    </div>
{% endblock %}